// We need to forward routine registration from C to Rust
// to avoid the linker removing the static library.

void R_init_{{ r_package_name }}_extendr(void *dll);

void R_init_{{ r_package_name }}(void *dll) {
    R_init_{{ r_package_name }}_extendr(dll);
}
